# To predict diabetes using PIMA diabetes data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [2]:
data = pd.read_csv("./data/pima-data.csv")

In [5]:
print(data)

     num_preg  glucose_conc  diastolic_bp  thickness  insulin   bmi  \
0           6           148            72         35        0  33.6
1           1            85            66         29        0  26.6
2           8           183            64          0        0  23.3
3           1            89            66         23       94  28.1
4           0           137            40         35      168  43.1
5           5           116            74          0        0  25.6
6           3            78            50         32       88  31.0
7          10           115             0          0        0  35.3
8           2           197            70         45      543  30.5
9           8           125            96          0        0   0.0
10          4           110            92          0        0  37.6
11         10           168            74          0        0  38.0
12         10           139            80          0        0  27.1
13          1           189            60         23      846  30.1
14          5           166            72         19      175  25.8
15          7           100             0          0        0  30.0
16          0           118            84         47      230  45.8
17          7           107            74          0        0  29.6
18          1           103            30         38       83  43.3
19          1           115            70         30       96  34.6
20          3           126            88         41      235  39.3
21          8            99            84          0        0  35.4
22          7           196            90          0        0  39.8
23          9           119            80         35        0  29.0
24         11           143            94         33      146  36.6
25         10           125            70         26      115  31.1
26          7           147            76          0        0  39.4
27          1            97            66         15      140  23.2
28         13           145            82         19      110  22.2
29          5           117            92          0        0  34.1
..        ...           ...           ...        ...      ...   ...
738         2            99            60         17      160  36.6
739         1           102            74          0        0  39.5
740        11           120            80         37      150  42.3
741         3           102            44         20       94  30.8
742         1           109            58         18      116  28.5
743         9           140            94          0        0  32.7
744        13           153            88         37      140  40.6
745        12           100            84         33      105  30.0
746         1           147            94         41        0  49.3
747         1            81            74         41       57  46.3
748         3           187            70         22      200  36.4
749         6           162            62          0        0  24.3
750         4           136            70          0        0  31.2
751         1           121            78         39       74  39.0
752         3           108            62         24        0  26.0
753         0           181            88         44      510  43.3
754         8           154            78         32        0  32.4
755         1           128            88         39      110  36.5
756         7           137            90         41        0  32.0
757         0           123            72          0        0  36.3
758         1           106            76          0        0  37.5
759         6           190            92          0        0  35.5
760         2            88            58         26       16  28.4
761         9           170            74         31        0  44.0
762         9            89            62          0        0  22.5
763        10           101            76         48      180  32.9
764         2           122            70         27        0  36.8
765         5           121            72         23      112  26.2
766         1           126            60          0        0  30.1
767         1            93            70         31        0  30.4

     diab_pred  age    skin  diabetes
0        0.627   50  1.3790      True
1        0.351   31  1.1426     False
2        0.672   32  0.0000      True
3        0.167   21  0.9062     False
4        2.288   33  1.3790      True
5        0.201   30  0.0000     False
6        0.248   26  1.2608      True
7        0.134   29  0.0000     False
8        0.158   53  1.7730      True
9        0.232   54  0.0000      True
10       0.191   30  0.0000     False
11       0.537   34  0.0000      True
12       1.441   57  0.0000     False
13       0.398   59  0.9062      True
14       0.587   51  0.7486      True
15       0.484   32  0.0000      True
16       0.551   31  1.8518      True
17       0.254   31  0.0000      True
18       0.183   33  1.4972     False
19       0.529   32  1.1820      True
20       0.704   27  1.6154     False
21       0.388   50  0.0000     False
22       0.451   41  0.0000      True
23       0.263   29  1.3790      True
24       0.254   51  1.3002      True
25       0.205   41  1.0244      True
26       0.257   43  0.0000      True
27       0.487   22  0.5910     False
28       0.245   57  0.7486     False
29       0.337   38  0.0000     False
..         ...  ...     ...       ...
738      0.453   21  0.6698     False
739      0.293   42  0.0000      True
740      0.785   48  1.4578      True
741      0.400   26  0.7880     False
742      0.219   22  0.7092     False
743      0.734   45  0.0000      True
744      1.174   39  1.4578     False
745      0.488   46  1.3002     False
746      0.358   27  1.6154      True
747      1.096   32  1.6154     False
748      0.408   36  0.8668      True
749      0.178   50  0.0000      True
750      1.182   22  0.0000      True
751      0.261   28  1.5366     False
752      0.223   25  0.9456     False
753      0.222   26  1.7336      True
754      0.443   45  1.2608      True
755      1.057   37  1.5366      True
756      0.391   39  1.6154     False
757      0.258   52  0.0000      True
758      0.197   26  0.0000     False
759      0.278   66  0.0000      True
760      0.766   22  1.0244     False
761      0.403   43  1.2214      True
762      0.142   33  0.0000     False
763      0.171   63  1.8912     False
764      0.340   27  1.0638     False
765      0.245   30  0.9062     False
766      0.349   47  0.0000      True
767      0.315   23  1.2214     False

[768 rows x 10 columns]

In [6]:
data.shape

(768, 10)

In [7]:
data.head(5)

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,35,0,33.6,0.627,50,1.3790,True
1,1,85,66,29,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,0,23.3,0.672,32,0.0000,True
3,1,89,66,23,94,28.1,0.167,21,0.9062,False
4,0,137,40,35,168,43.1,2.288,33,1.3790,True

In [8]:
data.isnull().values.any()

False

In [9]:
data.corr()

,num_preg,glucose_conc,diastolic_bp,thickness,insulin,bmi,diab_pred,age,skin,diabetes
num_preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,-0.081672,0.221898
glucose_conc,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.057328,0.466581
diastolic_bp,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.207371,0.065068
thickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,1.000000,0.074752
insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.436783,0.130548
bmi,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.392573,0.292695
diab_pred,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.183928,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,-0.113970,0.238356
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,1.000000,0.074752
diabetes,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,0.074752,1.000000

In [10]:
del data['thickness']

In [11]:
data.head(5)

,num_preg,glucose_conc,diastolic_bp,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,0,33.6,0.627,50,1.3790,True
1,1,85,66,0,26.6,0.351,31,1.1426,False
2,8,183,64,0,23.3,0.672,32,0.0000,True
3,1,89,66,94,28.1,0.167,21,0.9062,False
4,0,137,40,168,43.1,2.288,33,1.3790,True

In [13]:
diabetes_map = {True: 1, False: 0}

In [14]:
data['diabetes'] = data['diabetes'].map(diabetes_map)

In [15]:
data.head(5)

,num_preg,glucose_conc,diastolic_bp,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,0,33.6,0.627,50,1.3790,1
1,1,85,66,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,23.3,0.672,32,0.0000,1
3,1,89,66,94,28.1,0.167,21,0.9062,0
4,0,137,40,168,43.1,2.288,33,1.3790,1

In [16]:
diabetes_true_count = len(data.loc[data['diabetes'] == True])

In [17]:
diabetes_false_count = len(data.loc[data['diabetes'] == False])

In [18]:
print("Diabetes - True : ", diabetes_true_count)
print("Diabetes - False : ", diabetes_false_count)

Diabetes - True :  268
Diabetes - False :  500

In [19]:
print("Diabetes - True : ", diabetes_true_count/data.shape[0]*100)
print("Diabetes - False : ", diabetes_false_count/data.shape[0]*100)

Diabetes - True :  34.89583333333333
Diabetes - False :  65.10416666666666

In [20]:
from sklearn.cross_validation import train_test_split
feature_columns = ['num_preg', 'glucose_conc', 'diastolic_bp', 'insulin', 'bmi', 'diab_pred', 'age', 'skin']
predicted_class = ['diabetes']

X = data[feature_columns].values
y = data[predicted_class].values

split_test_size = 0.30

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = split_test_size, random_state=10)

/Users/admin/anaconda3/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [21]:
X_train.shape[0]/X.shape[0] * 100

69.921875

In [22]:
X_test.shape[0]/X.shape[0] * 100

30.078125

In [23]:
print(len(data.loc[data['diabetes'] == 1]) / len(data.loc[data['diabetes']]) * 100)
print(len(data.loc[data['diabetes'] == 0]) / len(data.loc[data['diabetes']]) * 100)

34.89583333333333
65.10416666666666

In [24]:
print(len(y_train[y_train[:] == 1]) / len(y_train[y_train[:]]) * 100)
print(len(y_train[y_train[:] == 0]) / len(y_train[y_train[:]]) * 100)

33.70577281191806
66.29422718808193

In [25]:
print(len(y_test[y_test[:] == 1]) / len(y_test[y_test[:]]) * 100)
print(len(y_test[y_test[:] == 0]) / len(y_test[y_test[:]]) * 100)

37.66233766233766
62.33766233766234

In [26]:
data.head(5)

,num_preg,glucose_conc,diastolic_bp,insulin,bmi,diab_pred,age,skin,diabetes
0,6,148,72,0,33.6,0.627,50,1.3790,1
1,1,85,66,0,26.6,0.351,31,1.1426,0
2,8,183,64,0,23.3,0.672,32,0.0000,1
3,1,89,66,94,28.1,0.167,21,0.9062,0
4,0,137,40,168,43.1,2.288,33,1.3790,1

In [27]:
print("total number of rows : {0}".format(len(data)))
print("number of rows missing glucose_conc: {0}".format(len(data.loc[data['glucose_conc'] == 0])))
print("number of rows missing glucose_conc: {0}".format(len(data.loc[data['glucose_conc'] == 0])))
print("number of rows missing diastolic_bp: {0}".format(len(data.loc[data['diastolic_bp'] == 0])))
print("number of rows missing insulin: {0}".format(len(data.loc[data['insulin'] == 0])))
print("number of rows missing bmi: {0}".format(len(data.loc[data['bmi'] == 0])))
print("number of rows missing diab_pred: {0}".format(len(data.loc[data['diab_pred'] == 0])))
print("number of rows missing age: {0}".format(len(data.loc[data['age'] == 0])))
print("number of rows missing skin: {0}".format(len(data.loc[data['skin'] == 0])))

total number of rows : 768
number of rows missing glucose_conc: 5
number of rows missing glucose_conc: 5
number of rows missing diastolic_bp: 35
number of rows missing insulin: 374
number of rows missing bmi: 11
number of rows missing diab_pred: 0
number of rows missing age: 0
number of rows missing skin: 227

In [28]:
from sklearn.preprocessing import Imputer

fill_0 = Imputer(missing_values=0, strategy="mean", axis=0)

X_train = fill_0.fit_transform(X_train)
X_test = fill_0.fit_transform(X_test)

# Training with Naive Bayes

In [29]:
from sklearn.naive_bayes import GaussianNB

naive_model = GaussianNB()
naive_model.fit(X_train, y_train.ravel())

GaussianNB(priors=None)

## Performance on training data

In [30]:
naive_predict_train_data = naive_model.predict(X_train)

from sklearn import metrics

print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_train, naive_predict_train_data)))

Accuracy = 0.756

## Performance on test data

In [35]:
naive_predict_test_data = naive_model.predict(X_test)

from sklearn import metrics

print("Accuracy = {0:.3f}".format(metrics.accuracy_score(y_test, naive_predict_test_data)))

Accuracy = 0.732