In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

%matplotlib inline

In [25]:
data = pd.read_csv("New_data_diabities_0.csv")
data

,UltraLente insulin dose,Unspecified blood glucose measurement,Pre-breakfast blood glucose measurement,Post-breakfast blood glucose measurement
0,9.0,123,100,281.0
1,8.0,340,216,73.0
2,9.0,288,257,242.0
3,8.0,200,239,242.0
4,9.0,81,67,168.0
5,8.0,104,77,168.0
6,9.0,85,259,87.0
7,8.0,63,109,87.0
8,9.0,282,128,339.0
9,8.0,129,179,219.0
10,9.0,97,86,219.0
11,8.0,110,147,187.0
12,9.0,76,305,59.0
13,8.0,130,133,194.0
14,9.0,69,183,82.0
15,8.0,79,91,258.0
16,8.0,165,121,162.0
17,9.0,232,251,226.0
18,8.0,180,87,225.0
19,9.0,122,255,49.0
20,9.0,46,136,NaN
21,8.0,77,236,NaN
22,8.0,134,108,NaN
23,8.0,120,65,NaN
24,9.0,113,183,NaN
25,8.0,153,117,NaN
26,9.0,105,76,NaN
27,8.0,212,244,NaN
28,9.0,102,125,NaN
29,8.0,35,87,NaN
...,...,...,...,...
3488,NaN,NaN,221,NaN
3489,NaN,NaN,144,NaN
3490,NaN,NaN,120,NaN
3491,NaN,NaN,107,NaN
3492,NaN,NaN,194,NaN
3493,NaN,NaN,51,NaN
3494,NaN,NaN,199,NaN
3495,NaN,NaN,180,NaN
3496,NaN,NaN,183,NaN
3497,NaN,NaN,194,NaN
3498,NaN,NaN,171,NaN
3499,NaN,NaN,171,NaN
3500,NaN,NaN,84,NaN
3501,NaN,NaN,307,NaN
3502,NaN,NaN,74,NaN
3503,NaN,NaN,153,NaN
3504,NaN,NaN,278,NaN
3505,NaN,NaN,156,NaN
3506,NaN,NaN,313,NaN
3507,NaN,NaN,180,NaN
3508,NaN,NaN,200,NaN
3509,NaN,NaN,153,NaN
3510,NaN,NaN,138,NaN
3511,NaN,NaN,86,NaN
3512,NaN,NaN,349,NaN
3513,NaN,NaN,259,NaN
3514,NaN,NaN,273,NaN
3515,NaN,NaN,134,NaN
3516,NaN,NaN,248,NaN
3517,NaN,NaN,259,NaN

In [26]:
data.head(10)

,UltraLente insulin dose,Unspecified blood glucose measurement,Pre-breakfast blood glucose measurement,Post-breakfast blood glucose measurement
0,9.0,123,100,281.0
1,8.0,340,216,73.0
2,9.0,288,257,242.0
3,8.0,200,239,242.0
4,9.0,81,67,168.0
5,8.0,104,77,168.0
6,9.0,85,259,87.0
7,8.0,63,109,87.0
8,9.0,282,128,339.0
9,8.0,129,179,219.0

In [30]:
data.isnull().values.any()

True

In [31]:
data.corr

<bound method DataFrame.corr of       UltraLente insulin dose\r Unspecified blood glucose measurement\r  \
0                           9.0                                     123
1                           8.0                                     340
2                           9.0                                     288
3                           8.0                                     200
4                           9.0                                      81
5                           8.0                                     104
6                           9.0                                      85
7                           8.0                                      63
8                           9.0                                     282
9                           8.0                                     129
10                          9.0                                      97
11                          8.0                                     110
12                          9.0                                      76
13                          8.0                                     130
14                          9.0                                      69
15                          8.0                                      79
16                          8.0                                     165
17                          9.0                                     232
18                          8.0                                     180
19                          9.0                                     122
20                          9.0                                      46
21                          8.0                                      77
22                          8.0                                     134
23                          8.0                                     120
24                          9.0                                     113
25                          8.0                                     153
26                          9.0                                     105
27                          8.0                                     212
28                          9.0                                     102
29                          8.0                                      35
...                         ...                                     ...
3488                        NaN                                     NaN
3489                        NaN                                     NaN
3490                        NaN                                     NaN
3491                        NaN                                     NaN
3492                        NaN                                     NaN
3493                        NaN                                     NaN
3494                        NaN                                     NaN
3495                        NaN                                     NaN
3496                        NaN                                     NaN
3497                        NaN                                     NaN
3498                        NaN                                     NaN
3499                        NaN                                     NaN
3500                        NaN                                     NaN
3501                        NaN                                     NaN
3502                        NaN                                     NaN
3503                        NaN                                     NaN
3504                        NaN                                     NaN
3505                        NaN                                     NaN
3506                        NaN                                     NaN
3507                        NaN                                     NaN
3508                        NaN                                     NaN
3509                        NaN                                     NaN
3510                        NaN                                     NaN
3511                        NaN                                     NaN
3512                        NaN                                     NaN
3513                        NaN                                     NaN
3514                        NaN                                     NaN
3515                        NaN                                     NaN
3516                        NaN                                     NaN
3517                        NaN                                     NaN

      Pre-breakfast blood glucose measurement\r  \
0                                           100
1                                           216
2                                           257
3                                           239
4                                            67
5                                            77
6                                           259
7                                           109
8                                           128
9                                           179
10                                           86
11                                          147
12                                          305
13                                          133
14                                          183
15                                           91
16                                          121
17                                          251
18                                           87
19                                          255
20                                          136
21                                          236
22                                          108
23                                           65
24                                          183
25                                          117
26                                           76
27                                          244
28                                          125
29                                           87
...                                         ...
3488                                        221
3489                                        144
3490                                        120
3491                                        107
3492                                        194
3493                                         51
3494                                        199
3495                                        180
3496                                        183
3497                                        194
3498                                        171
3499                                        171
3500                                         84
3501                                        307
3502                                         74
3503                                        153
3504                                        278
3505                                        156
3506                                        313
3507                                        180
3508                                        200
3509                                        153
3510                                        138
3511                                         86
3512                                        349
3513                                        259
3514                                        273
3515                                        134
3516                                        248
3517                                        259

      Post-breakfast blood glucose measurement\r
0                                          281.0
1                                           73.0
2                                          242.0
3                                          242.0
4                                          168.0
5                                          168.0
6                                           87.0
7                                           87.0
8                                          339.0
9                                          219.0
10                                         219.0
11                                         187.0
12                                          59.0
13                                         194.0
14                                          82.0
15                                         258.0
16                                         162.0
17                                         226.0
18                                         225.0
19                                          49.0
20                                           NaN
21                                           NaN
22                                           NaN
23                                           NaN
24                                           NaN
25                                           NaN
26                                           NaN
27                                           NaN
28                                           NaN
29                                           NaN
...                                          ...
3488                                         NaN
3489                                         NaN
3490                                         NaN
3491                                         NaN
3492                                         NaN
3493                                         NaN
3494                                         NaN
3495                                         NaN
3496                                         NaN
3497                                         NaN
3498                                         NaN
3499                                         NaN
3500                                         NaN
3501                                         NaN
3502                                         NaN
3503                                         NaN
3504                                         NaN
3505                                         NaN
3506                                         NaN
3507                                         NaN
3508                                         NaN
3509                                         NaN
3510                                         NaN
3511                                         NaN
3512                                         NaN
3513                                         NaN
3514                                         NaN
3515                                         NaN
3516                                         NaN
3517                                         NaN

[3518 rows x 4 columns]>

In [36]:
data.tail(10)

,UltraLente insulin dose,Unspecified blood glucose measurement,Pre-breakfast blood glucose measurement,Post-breakfast blood glucose measurement
3508,NaN,NaN,200,NaN
3509,NaN,NaN,153,NaN
3510,NaN,NaN,138,NaN
3511,NaN,NaN,86,NaN
3512,NaN,NaN,349,NaN
3513,NaN,NaN,259,NaN
3514,NaN,NaN,273,NaN
3515,NaN,NaN,134,NaN
3516,NaN,NaN,248,NaN
3517,NaN,NaN,259,NaN

In [34]:
diabetes_map = {True: 1, False: 0}

In [35]:
data['diabetes'] = data['diabetes'].map(diabetes_map)

KeyError: 'diabetes'